yay/
xfce4/
xed/
Thunar/
thefuck/
systemd/
spotify/
spicetify/
pulse/
obsidian/
mpv/
JetBrains/
ibus/
htop/
gtk-3.0/
gtk-2.0/
google-chrome/
gnome-session/
GitKraken/
GIMP/
flameshot/
discord/
dconf/
Code/
cef_user_data/
BetterDiscord/
.git/

user-dirs.locale
user-dirs.dirs
reflector-simple-free-params.txt
QtProject.conf
pavucontrol.ini
mimeapps.list
eos-update-notifier.first_init
EOS-greeter.conf
.gsd-keyboard.settings-ported
