/* Everforest */
@define-color accent #81a1c1;
@define-color txt #ebcb8b;
@define-color bg #3b4252;
@define-color bg2 #434c5e;

 * {
    font-family: 'CaskaydiaCove Nerd Font mono';
    font-size: 14px;
 }

 /* Window */
 window {
    margin: 0px;
    padding: 10px;
    border: 3px solid @accent;
    border-radius: 7px;
    background-color: @bg;
    animation: slideIn 0.2s ease-in-out both;
 }

 /* Slide In */
 @keyframes slideIn {
    0% {
       opacity: 0;
    }

    100% {
       opacity: 1;
    }
 }

 /* Inner Box */
 #inner-box {
    margin: 5px;
    padding: 10px;
    border: none;
    background-color: @bg;
    animation: fadeIn 0.2s ease-in-out both;
 }

 /* Fade In */
 @keyframes fadeIn {
    0% {
       opacity: 0;
    }

    100% {
       opacity: 1;
    }
 }

 /* Outer Box */
 #outer-box {
    margin: 5px;
    padding: 10px;
    border: none;
    background-color: @bg;
 }

 /* Scroll */
 #scroll {
    margin: 0px;
    padding: 10px;
    border: none;
 }

 /* Input */
 #input {
    margin: 5px;
    padding: 10px;
    border: none;
    color: @accent;
    background-color: @bg2;
    animation: fadeIn 0.2s ease-in-out both;
 }

 /* Text */
 #text {
    margin: 5px;
    padding: 10px;
    border: none;
    color: @txt;
    animation: fadeIn 0.2s ease-in-out both;
 }

 /* Selected Entry */
 #entry:selected {
   background-color: @accent;
 }

 #entry:selected #text {
    color: @bg;
 }

/*
Arc-Dark Color Scheme
*/
/* 
@define-color highlight #5294e2;
@define-color base1  #404552;
@define-color base2 #40455;
@define-color base3  #4b5160;

*{
    font-family: UbuntuMono;
}

window {
    border: 1px solid @highlight;
}

#input {
    margin-bottom: 15px;
    padding:3px;
    border-radius: 5px;
    border:none;
    color: white;
}

#inner-box {
    background-color: @base3;
}

#outer-box {
    margin: 5px;
    padding:15px;
    background-color: @base2;
}

#text {
    padding: 5px;
    color: white;
}

#entry:nth-child(even) {
    background-color: @base1;
}

#entry:selected {
    background-color: @highlight;
} */
